.formPadre {
  display: flex;
  gap: 10px;
  

  justify-content: center;
}

.formTask {
 display: flex;
 flex-direction: column;
  padding: 10px;
  background: #202020;
  border-radius: 10px;
  
}
.taskInput {
  background-color: aqua;
  margin-bottom: 10px;
}
.guardar:hover {
  background-color: red;
  border-radius: 5px;

  
}
.text{
margin-bottom: 10px;
border-radius: 5px;

}
